html,
body {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
}

.companyLogo {
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
}

footer {
  position: absolute;
  display: flex;
  align-items: center;
  height: fit-content;
  bottom: 0;
  left: 0;
  background-color: white;
}

.footerLink {
  font-size: 20px;
}

.results {
  width: 80%;
  margin: auto;
}

main {
  height: 75%;
  width: 100%;
}

.thumbnail {
  max-width: 200px;
  max-height: 200px;
}
